

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.logo {
    padding: 0.5em;
    font-weight:bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    /* left: 30%; */
    max-width: 100px;
    
}
.section__title--about{
    text-align: center;
    bottom: 2em;
}
.nav {
    text-align: center;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */
.top{
    display: grid;

}
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }



.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    }

.logo{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
    margin: 0;
    
}
.nav{
    background-color: aquas;

}

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    size: 20%;
    padding: 5%;
    bottom: 1em;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 150px;
        position: relative;
        z-index: 4;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}
.my-services {
    background: gainsboro;
    padding: 3%;
}

.section__title--services {
    text-align: center;
    top: 10%;
    padding: -2%;
}

.about-me__body {
    padding: 2em;
}

 @media (max-width: 600px) {
    .intro__img {
        max-width: 350px;
    } 
}


.my-services{
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;

}
.section__title--services{
    color: var(--clr-accent);
    position: relative;

}

.section__title--services::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

@media(min-width: 800px){
    .services{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
.services + .services {
    margin-left: 2em;
}
}


.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap:2em;
    }
.section__title--about{
        grid-area: title;
    }

    .about-me__img {
        grid-area: img;
    }
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    
}
.social-list{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    padding: 1;
}

.social-list__link {
    padding: 2em;
    color: white;
    text-decoration: none;
}

.footer__link {
    text-decoration: none;
    color: #16e0bd;
}
.nav__list {
    display: flex;
    justify-content: end;
    list-style:none;
   
}
.nav__link {
    padding: 2em;
    text-decoration: none;
    font-weight: 600;
}
.nav__item{
    transition: transform 200ms ease-in-out;
}

.nav__item:hover{
    transform: scale(1.2);

}
.social-list__item{
    padding-bottom: 1em;
    transition: transform 200ms ease-in-out;
}
.social-list__item:hover{
    transform: scale(1.2);
}


